body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  margin: auto;

}

body {
  transition: all 0.14s ease-in;
}

.c-btn{
  font-size: 20px
}
.center {
  padding-top: 15px;
  text-align: center;
}