body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  margin: auto;
  background-color: #333c44;
  color:#F4A950  

}

body {
  transition: all 0.14s ease-in;
}
.c-btn{
  font-size: 24px
}
.center {
  padding-top: 15px;
  text-align: center;
  font-size: 20px;
}

.c-bericht{
  font-size: 30px;
}
.size{
  font-size: 36px;
}

.logo{
  border-radius: 15%;
  max-width: 500px;
}

.imgcontainer{
  background-color: #161B20;
  padding-bottom: 20px;
  border-bottom: 1px solid #F4A950;;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#161B20;
  opacity: 1;
  /* Firefox */
}

input,
textarea button{
  color:#161B20 ;
  border: 1px solid;
}

.c-header {
  background-color: #161B20;
  padding-bottom: 20px;
  border-bottom: 1px solid #F4A950;
  padding-top: 5px;
}

.c-btn__link{
  text-decoration: none;
  background-color: white;
  font-size: 24px;
  color: #161B20;
  padding: 4px;
}

.c-btn__link {
  text-decoration: none;
  color: #161B20
}

.c-btn__link,
.c-btn__link:visited,
.c-btn__link:active {
  color: #161B20
}

.c-btn__link:hover,
.c-btn__link:focus {
  color: #F4A950;
  background-color: #161B20;
}

.c-btn__link:active {
  background-color: #006AFF;
}