body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  margin: auto;

}

body {
  transition: all 0.14s ease-in;
}
.c-btn{
  font-size: 24px
}
.center {
  padding-top: 15px;
  text-align: center;
  font-size: 20px;
}

.c-bericht{
  font-size: 30px;
}
.size{
  font-size: 36px;
}